flask
pydantic
pika
pandas
numpy
transformers
pytest
SQLAlchemy
alembic
psycopg2-binary
requests
langchain-ollama
langchain
scikit-learn
joblib
chromadb
requests
beautifulsoup4
python-slugify
sentence-transformers
flasgger